<form name="showMovieForm">
	<h1>Muokkaa {{movie.name}} elokuvaa</h1>
	<p>
		<label>Nimi</label>
		<input name="name" type="text" ng-model="movie.name" required>
		<span ng-show="addMovieForm.name.$invalid && addMovieForm.name.$dirty">
			Nimi ei saa olla tyhjä
		</span>
	</p>	
	<p>
		<label>Ohjaaja</label>
		<input name="director" type="text" ng-model="movie.director" required>
		<span ng-show="addMovieForm.director.$invalid && addMovieForm.director.$dirty">
			Ohjaaja ei saa olla tyhjä
		</span>
	</p>	
	<p>
		<label>Julkaisuvuosi</label>
		<input name="release" type="text" ng-model="movie.release" required>
		<span ng-show="addMovieForm.release.$invalid && addMovieForm.release.$dirty">
			Julkaisuvuosi ei saa olla tyhjä
		</span>
	</p>	
	<p>
		<label>Kuvaus</label>
		<textarea name="description" type="text" ng-model="movie.description" required></textarea>
		<span ng-show="addMovieForm.description.$invalid && addMovieForm.description.$dirty">
			Kuvaus ei saa olla tyhjä
		</span>
	</p>	
	<p>
		<button type="submit" ng-click="editMovie(movie)" ng-disabled="addMovieForm.$invalid">Muokkaa</button>
	</p>
	<a ng-href="#/movies">Takaisin</a>
</form>