<h1>Elokuvakirjasto</h1>
<table class="table">
	<tr>
		<th>Nimi</th>
		<th>Ohjaaja</th>
		<th>Julkaisuvuosi</th>
		<th ng-show="auth"></th>
	</tr>
	<tr ng-repeat="movie in movies">
		<td><a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a></td>
		<td>{{movie.director}}</td>
		<td>{{movie.release}}</td>
		<td ng-show="auth">
			<a class="btn btn-default" href="#/movies/{{movie.$id}}/edit">Muokkaa</a>
			<a class="btn btn-danger" href="#/movies/" ng-click="removeMovie($index)">Poista</a>
		</td>
	</tr>
</table>