<form name="loginUserForm">
	<h1>Kirjaudu sisään</h1>
	<p>{{message}}</p>
	<p class="form-group">
		<label>Sähköposti</label>
		<input class="form-control" name="email" type="email" ng-model="email" required>
		<span ng-show="loginUserForm.email.$invalid && loginUserForm.email.$dirty">
			Sähköpostiosoite vaaditaan
		</span>
	</p>	
	<p class="form-group">
		<label>Salasana</label>
		<input class="form-control" name="password" type="password" ng-model="password" required>
		<span ng-show="loginUserForm.password.$invalid && loginUserForm.password.$dirty">
			Salasana vaaditaan
		</span>
	</p>	

	<button class="btn btn-default" type="submit" ng-click="logIn()" ng-disabled="loginUserForm.$invalid">Kirjaudu</button>
</form>