<form name="registerUserForm">
	<h1>Luo uusi käyttäjätili</h1>
	<p>{{message}}</p>
	<p class="form-group">
		<label>Sähköposti</label>
		<input class="form-control" name="email" type="email" ng-model="newEmail" required>
		<span ng-show="registerUserForm.email.$invalid && registerUserForm.email.$dirty">
			Sähköpostiosoite vaaditaan
		</span>
	</p>	
	<p class="form-group">
		<label>Salasana</label>
		<input class="form-control" name="password" type="password" ng-model="newPassword" required>
		<span ng-show="registerUserForm.password.$invalid && registerUserForm.password.$dirty">
			Salasana vaaditaan
		</span>
	</p>	
	<button class="btn btn-default" type="submit" ng-click="register()" ng-disabled="registerUserForm.$invalid">Luo käyttäjä</button>
</form>